<div class="landing-page">
  <p-card header="Informacion sobre el sitio" subheader="" class="card" styleClass="p-card-shadow">
    <h3>¿Que es Planning Time?</h3>
    <p>
      Planning Time es una plataforma web en la que puedes generar una sesión de estimación de tareas en simples pasos.
    </p>

    <h3>¿Como funciona?</h3>

    <p>
      Debes ingresar nombre de equipo, luego se disponibiliza un QR y un Link, los cuales puedes compartir con quienes
      desees que participen de la estimación.
    </p>

    <h3>¿Como surgio?</h3>
    <p>
      Planning Time surge de la necesidad de obtener y establecer de manera sencilla y rapida un puntaje para cada tarea
      del sprint.
    </p>

    <h2>¿Problemas o sugerencias?</h2>
    <p>Si te surgío algun inconveniente, o tenes alguna idea para mejorar la plataforma</p>
    <p>
      Podes escribirme a: <a href="mailto:contact@sinisterraluciano.com.ar">contact&#64;sinisterraluciano.com.ar</a>, con el
      asunto "Planning Time"
    </p>

    <div class="buttons mt-4">
      <a pButton label="Planning time" class="p-button-primary" routerLink="" icon="pi pi-home"></a>
      <a
        pButton
        label="Repositorio"
        class="p-button-primary"
        target="_blank"
        href="https://github.com/attrix182/planning-time"
        icon="pi pi-github"
      ></a>
      <a
        pButton
        label="Mi portfolio"
        class="p-button-primary"
        target="_blank"
        href="https://sinisterraluciano.com.ar"
        icon="pi pi-user"
      ></a>
    </div>
  </p-card>
</div>
