<p-toast position="top-center" class="p-toast"></p-toast>

<section class="create-form">
  <div class="card">
    <div class="title">Crear una sesión</div>
    <div class="subtitle">¿Como se llama tu equipo?</div>

    <form [formGroup]="formGroup" class="p-fluid p-grid">
      <!-- Equipo -->
      <h3 for="">Nombre del equipo</h3>
      <input type="text" placeholder="Nombre del equipo" pInputText type="text" formControlName="team" />
    </form>

    <div class="buttons mt-4">
      <button pButton class="p-button-raised p-button-primary" (click)="back.emit()">Volver</button>
      <button
        pButton
        class="p-button-raised p-button-primary"
        [disabled]="!formGroup.valid && !isLoading"
        (click)="createSesion()"
      >
        <p-progressSpinner
          *ngIf="isLoading"
          [style]="{ width: '50px', height: '50px' }"
          fill="white"
          styleClass="custom-spinner"
          strokeWidth="8"
        ></p-progressSpinner>
        Crear
      </button>
    </div>
  </div>
</section>
