<p-toast position="top-center" class="p-toast"></p-toast>

<div class="section">
  <aside class="left-icon">
    <button
      (click)="changeName()"
      pTooltip="Cambia tu nombre"
      pButton
      pRipple
      type="button"
      icon="pi pi-user"
      class="p-button-primary p-button-rounded p-button-outlined"
    ></button>
  </aside>

  <aside class="rigth-icon" id="mobile">
    <button
      (click)="toggleShowActions()"
      pTooltip="Mostrar acciones"
      pButton
      pRipple
      type="button"
      icon="pi pi-cog"
      class="p-button-primary p-button-rounded p-button-outlined"
    ></button>
  </aside>
</div>

<div class="actions-box-mobile" *ngIf="!loading && showActions"  id="mobile">
  <button
    [disabled]="results.length == 0"
    *ngIf="!showResults"
    pButton
    pRipple
    class="p-button-raised p-button-primary"
    (click)="presentResults()"
  >
    Mostrar resultados
    <i class="ml-2 pi pi-eye"></i>
  </button>

  <button *ngIf="showResults" pButton pRipple class="p-button-raised p-button-primary" (click)="hideResults()">
    Ocultar resultados
    <i class="ml-2 pi pi-eye-slash"></i>
  </button>

  <button [disabled]="results.length == 0" pButton pRipple class="p-button-raised p-button-primary" (click)="restart()">
    Reiniciar
    <i class="ml-2 pi pi-refresh"></i>
  </button>
</div>

<!-- Desktop  -->
<section id="desktop" class="participation-section" *ngIf="!loading">
  <div class="actions-box" *ngIf="!loading && event.active">
    <button
      [disabled]="results.length == 0"
      *ngIf="!showResults"
      pButton
      pRipple
      class="p-button-raised p-button-primary"
      (click)="presentResults()"
    >
      Mostrar resultados
      <i class="ml-2 pi pi-eye"></i>
    </button>

    <button *ngIf="showResults" pButton pRipple class="p-button-raised p-button-primary" (click)="hideResults()">
      Ocultar resultados
      <i class="ml-2 pi pi-eye-slash"></i>
    </button>

    <button
      [disabled]="results.length == 0"
      pButton
      pRipple
      class="p-button-raised p-button-primary"
      (click)="restart()"
    >
      Reiniciar
      <i class="ml-2 pi pi-refresh"></i>
    </button>
  </div>

  <div class="users-box" *ngIf="!loading && activeUsers">
    <div *ngFor="let user of activeUsers" class="card-user" [ngClass]="user.answer ? 'answer' : ''">
      {{ user.name }}
    </div>
  </div>

  <div class="card-center" *ngIf="!loading && event.active">
    <div class="title intro-text text-dark p-4" *ngIf="!showResults">¡Elije una carta!</div>
    <section *ngIf="showResults" class="text-center">
      <div *ngFor="let res of results">{{ res.user }} voto: {{ res.vote }}</div>
      <div class="promedio" *ngIf="promedio">Promedio: {{ promedio.toFixed(2) }}</div>
    </section>
  </div>

  <div class="options-box card" *ngIf="!loading && event.active">
    <div
      *ngFor="let opt of options"
      class="card"
      [ngClass]="optionSelected == opt ? 'active' : ''"
      (click)="selectOption(opt)"
    >
      {{ opt }}
    </div>
  </div>

  <div *ngIf="!loading && !event.active">
    <div class="card">
      <div class="title">Equipo: {{ event.team }}</div>
      <div class="subtitle">Evento: {{ event.eventTitle }}</div>
      <h1>Esta sesion ya no esta activa</h1>
      <button pButton class="mt-4 mb-2 p-button-raised p-button-primmary" routerLink="/">Volver al Home</button>
    </div>
  </div>
</section>

<!-- Mobile  -->
<section id="mobile" *ngIf="!loading">
  <div class="card-rta results-mobile" *ngIf="!loading && event.active">
    <div class="title text-dark p-4" *ngIf="!showResults">¡Elije una carta!</div>
    <section *ngIf="showResults" class="results-list">
      <div *ngFor="let res of results">{{ res.user }} voto: {{ res.vote }}</div>
      <div class="promedio" *ngIf="promedio">Promedio: {{ promedio.toFixed(2) }}</div>
    </section>
  </div>

  <div class="options-box card" *ngIf="!loading && event.active">
    <div
      pButton
      *ngFor="let opt of options"
      class="card card-item"
      [ngClass]="optionSelected == opt ? 'active' : ''"
      (click)="selectOption(opt)"
    >
      {{ opt }}
    </div>
  </div>

  <div class="users-box" *ngIf="!loading && activeUsers">
    <div *ngFor="let user of activeUsers" class="card-user" [ngClass]="user.answer ? 'answer' : ''">
      <span>
        {{ user.name }}
      </span>
    </div>
  </div>
</section>

<p-toast position="top-center" class="p-toast"></p-toast>
