<p-toast position="top-center" class="p-toast"></p-toast>

<div class="section">
  <aside class="left-icon">
    <button
      (click)="toggleAdminProfileModal()"
      pTooltip="Administra tu perfil"
      pButton
      pRipple
      type="button"
      icon="pi pi-user"
      class="p-button-primary p-button-rounded p-button-outlined"
    ></button>
  </aside>

  <aside class="right-icon m-2">
    <button
      (click)="toggleTasksModal()"
      pTooltip="Importa tareas desde JIRA"
      pButton
      pRipple
      label="Administrar tareas"
      type="button"
      icon="pi pi-book"
      class="p-button-primary p-button-rounded p-button-outlined mt-2"
    ></button>
  </aside>

  <aside class="rigth-icon-mobile" id="mobile" *ngIf="userActive?.facilitator">
    <button
      (click)="toggleShowActions()"
      pTooltip="Mostrar acciones"
      pButton
      pRipple
      type="button"
      icon="pi pi-cog"
      class="p-button-primary p-button-rounded p-button-outlined"
    ></button>
  </aside>
</div>

<div class="actions-box-mobile" *ngIf="!loading && showActions" id="mobile">
  <ng-container *ngIf="userActive?.facilitator">
    <button
      [disabled]="results.length == 0"
      *ngIf="!showResults"
      pButton
      pRipple
      class="p-button-raised p-button-primary"
      (click)="presentResults()"
    >
      Mostrar
      <i class="ml-2 pi pi-eye"></i>
    </button>

    <button *ngIf="showResults" pButton pRipple class="p-button-raised p-button-primary" (click)="hideResults()">
      Ocultar
      <i class="ml-2 pi pi-eye-slash"></i>
    </button>

    <button
      [disabled]="results.length == 0"
      pButton
      pRipple
      class="p-button-raised p-button-primary"
      (click)="restart()"
    >
      Reiniciar
      <i class="ml-2 pi pi-refresh"></i>
    </button>
  </ng-container>
</div>

<!-- Desktop  -->
<section id="desktop" class="participation-section">
  <div class="actions-box" *ngIf="!loading && event.active">
    <button
      [disabled]="results.length == 0"
      *ngIf="!showResults && userActive?.facilitator"
      pButton
      pRipple
      class="p-button-raised p-button-primary"
      (click)="presentResults()"
    >
      Mostrar resultados
      <i class="ml-2 pi pi-eye"></i>
    </button>

    <button
      *ngIf="showResults && userActive?.facilitator"
      pButton
      pRipple
      class="p-button-raised p-button-primary"
      (click)="hideResults()"
    >
      Ocultar resultados
      <i class="ml-2 pi pi-eye-slash"></i>
    </button>

    <button
      [disabled]="results.length == 0"
      pButton
      pRipple
      *ngIf="userActive?.facilitator"
      class="p-button-raised p-button-primary"
      (click)="restart()"
    >
      Reiniciar
      <i class="ml-2 pi pi-refresh"></i>
    </button>
  </div>

  <div class="users-box" *ngIf="!loading && activeUsers">
    <div
      tooltipPosition="top"
      [pTooltip]="userActive?.facilitator ? 'Eliminar participante' : ''"
      (click)="deleteUser(user)"
      *ngFor="let user of activeUsers"
      class="card-user"
      [ngClass]="user.answer ? 'answer' : ''"
    >
      {{ user.name }}
    </div>
  </div>

  <div class="card-center" *ngIf="!loading && event.active">
    <div>
      <div *ngIf="selectedTask" class="selected_task">
        <div *ngIf="selectedTask?.component?._text" class="selected_task_component">
          {{ selectedTask?.component?._text }}
        </div>
        <a [href]="selectedTask?.link._text" target="_blank" class="selected_task_link">{{
          selectedTask?.title._text
        }}</a>
      </div>
    </div>

    <div class="title intro-text text-dark p-4" *ngIf="!showResults">¡Elije una carta!</div>

    <section *ngIf="showResults" class="text-center">
      <div *ngFor="let res of results">
        <article class="results-item">
          {{ res.user }}:
          <div class="results-item-vote">{{ res.vote }}</div>
        </article>
      </div>
      <div class="promedio" *ngIf="promedio">Promedio: {{ promedio.toFixed(2) }}</div>
    </section>
  </div>

  <div class="options-box card" *ngIf="!loading && event.active">
    <div
      *ngFor="let opt of options"
      class="card"
      [ngClass]="optionSelected == opt ? 'active' : ''"
      (click)="selectOption(opt)"
    >
      {{ opt }}
    </div>
  </div>
</section>

<fc-tasks-modal
  [event]="event"
  (onSelectTask)="selectTask($event)"
  (onClose)="toggleTasksModal()"
  *ngIf="showTasksModal"
></fc-tasks-modal>

<fc-admin-profile-modal
  (onChangeName)="changeName()"
  (onClose)="toggleAdminProfileModal()"
  [userActive]="userActive"
  *ngIf="showAdminProfileModal"
>
</fc-admin-profile-modal>

<p-toast position="top-center" class="p-toast"></p-toast>
